<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

    <style>
    #headerid {
      color:whitesmoke
    }

    #pagenumber {
      color: white
    }

    </style>

    {% block content %}
    <title>DNA Search</title>
  </head>
  <body>
  <div class="content">
    
    <div class="container">
      <h2 class="mb-5">DNA Barcode Search Engine</h2>

      <form action = "{% url 'search' %}" method="get" value="{{request.GET.query}}">
        <div class="form-group">
        <label id="headerid" for="exampleFormControlTextarea1">Please input barcode: </label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" input name="query" type="text" value="{{request.GET.query}}"/></textarea>
        <input type="submit" required minlength="500" name="Submit" value="Search"/>
      </div>
    </form>
      
      <div class="table-responsive">
        <table class="table table-striped custom-table">
          <thead>
            <tr>
              <th scope="col">Initial Identity</th>
              <th scope="col">Collection Code</th>
              <th scope="col">Location</th>
              <th scope="col">Percentage Identity</th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row">

              {% for r in page_obj %}
            <tr>
              <td> <strong> {{ r.initial }} </strong> </td>
              <td> <strong> {{ r.collection_code }} </strong> </td>
              <td> <strong> {{ r.location }} </strong> </td>
              <td> {{ r.identity }} </td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>

      <!-- <div class="pagination center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?q={{request.GET.q}}&page=1" class="btn btn-dark">&laquo; first</a>
                <a href="?q={{request.GET.q}}&page={{ page_obj.previous_page_number }}" class="btn btn-primary">previous</a>
            {% endif %}
      
            <span id="pagenumber" class="current">
                Page <b>{{ page_obj.number }}</b> of {{ page_obj.paginator.num_pages }}.
            </span>
      
            {% if page_obj.has_next %}
                <a href="?q={{request.GET.q}}&page={{ page_obj.next_page_number }}" class="btn btn-primary">next</a>
                <a href="?q={{request.GET.q}}&page={{ page_obj.paginator.num_pages }}" class="btn btn-light">last &raquo;</a>
            {% endif %}
        </span>
      </div> -->

    </div>
  </div>
    
    

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
{% endblock %}